attrs==22.2.0
cmake==3.25.0
colorama==0.4.6
exceptiongroup==1.1.0
imageio==2.24.0
iniconfig==2.0.0
MyQR==2.3.1
netaddr==0.8.0
netifaces==0.11.0
nptyping==2.4.1
numpy==1.24.1
opencv-contrib-python==4.7.0.68
opencv-python==4.7.0.68
packaging==23.0
Pillow==9.4.0
pluggy==1.0.0
PyQt5==5.15.8
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pytest==7.2.1
pyzmq==24.0.1
reportlab==3.6.12
robomaster==0.1.1.68
tomli==2.0.1
typing_extensions==4.4.0
zmq==0.0.0
